{% extends "base.html" %}
{% block content %}
  <!-- Jumbotron section -->
  <div class="jumbotron text-center jumbotron-fluid p-5 mb-5">
    <h1 class="display-4">{{ SITETITLE }}</h1>
    <p class="card-text">{{ SITEBLURB }}</p>
  </div>
  <!-- Microblog section -->
  <div class="row">
    <div class="col-md-12">
      <ul class="timeline list-unstyled">
        {% for article in articles if article.category.name == 'microblog' %}
          {% if loop.index <= RECENT_MICROBLOG_ARTICLES_NUMBER %}
            {% include 'microblog-info.html' %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Notebooks section -->
  <h2>Notebooks</h2>
  <div class="row">
    {% for article in articles if article.category.name == 'notebooks' %}
      {% if loop.index <= RECENT_NOTEBOOKS_ARTICLES_NUMBER %}
        <div class="col-md-6">
          <ul class="timeline list-unstyled">
            {% include 'notebook-info.html' %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
