  {% for c_tag in tag_cloud %}
  <div class="row">
  <div class="col-sm-12">
    <div id='{{ c_tag.0 }}' class="card mb-5">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4>{{ c_tag.0 }}</h4>
        <span class="badge badge-secondary badge-pill">{{ c_tag.2 }}</span>
      </div>
      <div class="card-body">
        <ul class="card-columns fa-ul mb-0">
        {% for tag, articles in tags if tag.name == c_tag.0 %}
            {% for article in articles if article.category.name == 'qutips' %}
              <li>
                <i class="fa-li fa fa-fw fa-code"></i>
                <a href="/{{ article.url }}">{{ article.title }}</a>
              </li>
            {% endfor %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  </div>
  {% endfor %}